{% include '_scripts_core.html.j2' %}
{% include '_scripts_interactive.html.j2' %}
{% include '_scripts_release_wizard.html.j2' %}
{% include '_scripts_release_calendar.html.j2' %}
{% include '_scripts_release_calendar_ext.html.j2' %}
</script>
